pkgbase = gmap
	pkgdesc = Git repository analysis tool for churn and heatmap visualization
pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/seeyebe/gmap
arch = x86_64
arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = git
source = gmap-0.4.0.tar.gz::https://github.com/seeyebe/gmap/archive/refs/tags/0.4.0.tar.gz
sha256sums = SKIP

pkgname = gmap
